[secret]

wifi_ssid = CHANGE_ME_TO_THE_REAL_SSID
wifi_password = CHANGE_ME_TO_THE_REAL_WIFI_PASSWORD
hostname = segarkosan.local

mqtt_server = broker.hivemq.com
mqtt_user = your_username
mqtt_pass = your_password

websocket_server = 192.168.18.115
websocket_port = 8080